@use '../../scss/abstracts' as ab;
@use '../../scss/layouts/' as layout;

.mission {
  @extend %wrapper;

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 7.2rem;
  }

  .index {
    width: 4.8rem;
    height: 4.8rem;
  }
}

@media (max-width: 46em) {
  .mission {
    .grid {
      grid-template-columns: repeat(1, 1fr);
      text-align: center;
    }

    .index {
      width: 100%;
    }
  }
}
