@use '../abstracts' as ab;

.heading {
  font-size: clamp(3.6rem, 4vw, 4.8rem);
  color: ab.$color-gray-dark;
  text-align: center;

  padding: 6.4rem 0;

  .heading__brand {
    color: ab.$color-accent;
  }
}
