.slick-slider {
    position: relative;
}

.slick-list {
    padding-top: 36px;
    overflow: hidden;
}

.slick-track {
    display: flex;
}

.slick-slide {
    display: flex;
    justify-content: center;
}

.slick-prev,
.slick-next {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;

    font-size: 0;

    background-color: #fff;
    color: #bceb9a;

    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
    border: none;
    border-radius: 50%;

    cursor: pointer;
}

.slick-prev {
    left: 0;
}

.slick-next {
    left: 100%;
}

.slick-prev::before,
.slick-next::before {
    display: block;
    width: 36px;
    height: 36px;

    font-size: 36px;
    line-height: 36px;
    text-align: center;
}

.slick-prev::before {
    content: '‹';
}

.slick-next::before {
    content: '›';
}

.slick-dots {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
}

.slick-dots li {
    display: inline-block;
    margin: 8px;
    cursor: pointer;
}

.slick-dots li button {
    display: inline-block;
    width: 12px;
    height: 12px;

    font-size: 0;

    background-color: #fff;

    border: none;
    border-radius: 50%;

    cursor: pointer;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    border: 2px solid #235390;
}

.slick-dots li.slick-active button {
    width: 16px;
    height: 16px;
    background-color: #235390;
}