@use '../../../assets/scss/abstracts' as ab;
@use '../../../assets/scss/layouts/text' as text;

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 7.2rem;
  row-gap: 2.4rem;

  & + .about {
    margin-top: 7.2rem;
  }

  &:nth-of-type(odd) {
    grid-template-areas: 'txt img';
  }

  &:nth-of-type(even) {
    grid-template-areas: 'img txt';
  }

  .about__text {
    grid-area: txt;
  }

  .about__img {
    @include ab.flex(row, center, center);

    grid-area: img;

    height: 240px;

    background: linear-gradient(45deg, ab.$color-main-light, ab.$color-main-very-light);
    border-radius: 16px;

    & img {
      width: 60%;
      height: 60%;
    }
  }
}

@media (max-width: 54em) {
  .about {
    grid-template-columns: repeat(1, 1fr);

    &:nth-of-type(odd),
    &:nth-of-type(even) {
      grid-template-areas:
        'txt'
        'img';
    }
  }
}
