@use '../../../../assets/scss/abstracts' as ab;

.title {
  padding-bottom: 2.4rem;
}

.item {
  @include ab.flex(column, flex-start, flex-start, 1.6rem);
  font-size: 1.6rem;

  & li:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
