@use '../../../../assets/scss/abstracts' as ab;

.brand {
  grid-area: brand;

  .heading {
    font-size: 3.2rem;
    color: ab.$color-main;
  }

  .items {
    @include ab.flex(row, flex-start, center, 1.8rem);
    padding: 1.8rem 0 1.2rem;
  }

  button {
    color: ab.$color-main;
  }
}
