@use '../../assets/scss/abstracts' as ab;

.btn {
  @include ab.flex(row, center, center, 0.8rem);

  padding: 1.2rem 2.4rem;

  border: 2px solid ab.$color-main;
  border-radius: 6px;

  transition: all 0.5s;
  cursor: pointer;
}

.solid,
.outline:hover {
  background-color: ab.$color-main;
  color: ab.$color-gray-very-light;
}

.outline,
.solid:hover {
  background-color: transparent;
  color: ab.$color-main;
}

.transparent {
  background-color: transparent;
  padding: 0;
  border: none;

  &:hover {
    color: ab.$color-main;
  }
}

.round {
  border-radius: 999px;
}

.iconImg {
  width: 3.6rem;
  height: 3.6rem;
}
