@use '../../scss/abstracts' as ab;

.carousel {
  @include ab.flex(row, flex-start, center);

  min-height: 100vh;

  background-color: ab.$color-accent;
  background-image: url('../../assets/images/carousel-background.svg');

  .carousel__container {
    @extend %container;

    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 6.4rem;

    align-items: center;
  }

  .carousel__text {
    color: ab.$color-gray-very-light;
  }

  .carousel__heading {
    font-size: 5.2rem;
  }

  .carousel__paragraph {
    font-size: 2.2rem;
    padding: 3.2rem 0;
  }

  .carousel__img {
    justify-self: center;
    align-self: center;
  }

  .carousel__img img {
    display: block;
    height: 100%;
  }
}

@media (max-width: 60em) {
  .carousel {
    .carousel__container {
      gap: 5.2rem;
    }

    .carousel__heading {
      font-size: 4.4rem;
    }

    .carousel__paragraph {
      font-size: 1.8rem;
    }
  }
}

@media (max-width: 54em) {
  .carousel {
    .carousel__container {
      grid-template-columns: 1fr;
      grid-template-rows: 180px 1fr;
      // gap: 5.2rem;

      text-align: center;
    }

    .carousel__heading {
      padding-top: 3.2rem;
    }

    // .carousel__buttons {
    //   @include ab.flex(row, center);
    // }

    .carousel__img {
      grid-row: 1;
    }

    .carousel__img img {
      max-width: 28rem;
    }
  }
}

@media (max-width: 28em) {
  .carousel {
    .carousel__heading {
      font-size: 2.8rem;
    }
  }
}
