@use '../../scss/abstracts' as ab;

.carousel {
  @include ab.flex(row, flex-start, center);

  min-height: 100vh;

  background-color: ab.$color-accent;
  background-image: url('../../assets/images/carousel-background.svg');

  .carousel__container {
    @extend %wrapper;

    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1.6rem;
  }

  .carousel__text {
    color: ab.$color-gray-very-light;
  }

  .carousel__heading {
    font-size: 5.2rem;
  }

  .carousel__paragraph {
    font-size: 2.2rem;
    padding: 3.2rem 0;
  }

  .carousel__img {
    background-image: url('../../assets/images/carousel-illustration.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .carousel__actions {
    @include ab.flex(row, flex-start, center, 1.6rem);
  }
}

@media (max-width: 54em) {
  .carousel {
    .carousel__container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 0;

      text-align: center;
    }

    .carousel__heading {
      font-size: 3.2rem;
      padding-top: 3.2rem;
    }

    .carousel__paragraph {
      font-size: 1.8rem;
      padding: 2.4rem 0;
    }

    .carousel__img {
      grid-row: 1;
    }

    .carousel__actions {
      justify-content: center;
    }
  }
}

@media (max-width: 24em) {
  .carousel {
    .carousel__actions {
      flex-direction: column;
      align-items: stretch;
    }
  }
}
