@use '../../../assets/scss/abstracts' as ab;

.input {
  width: 100%;

  padding: 1.2rem 1.8rem;

  border-radius: 4px;
  border: 1px solid ab.$color-gray-light;

  &:focus {
    border-color: ab.$color-main;
  }

  &::placeholder {
    color: ab.$color-gray-light;
  }
}

.input--error,
.input--error:focus {
  border-color: ab.$color-error;
}

.warning {
  font-size: 1.4rem;
  color: ab.$color-gray-very-light;
  padding: 1.2rem 1.8rem;
}

.warning--error {
  color: ab.$color-error;
}
