@use '../../../../assets/scss/abstracts' as ab;

.item {
  position: relative;
  max-width: 280px;

  flex-shrink: 0;

  margin: 1.8rem;
  padding: 3.6rem 1.8rem;

  background-color: ab.$color-gray-very-light;
  border-radius: 16px;

  .avatar {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 72px;
    height: 72px;

    border-radius: 50%;
    overflow: hidden;
  }

  .icon {
    width: 36px;
    height: 36px;
  }

  .quote {
    height: 240px;
    overflow: hidden;

    padding: 1.8rem 0;
  }

  .author {
    font-style: italic;
  }
}
