@use '../../../assets/scss/abstracts' as ab;

.navbar {
  @include ab.flex(row, space-between, center, 1.2rem);
  text-align: center;
}

@media (max-width: 38em) {
  .navbar {
    width: 100%;

    display: none;
    flex-direction: column;
    gap: 1.6rem;

    padding: 2.4rem 0;
  }
}
