@use '../../../assets/scss/abstracts' as ab;
@use '../../../assets/scss/layouts/text';

.product {
  @include ab.flex(row, flex-start, center, 3.2rem);
  padding: 3.2rem;
  border-radius: 16px;
  cursor: pointer;

  &:hover {
    filter: brightness(1.125);
  }

  .text {
    color: ab.$color-gray-very-light;
  }

  .img {
    & img {
      width: 180px;
      height: 180px;

      background-color: ab.$color-gray-very-light;
      border-radius: 8px;
    }
  }

  .title {
    padding: 0 0 1.6rem 0;
  }
}

@media (max-width: 38em) {
  .product {
    flex-direction: column;
    align-items: stretch;

    .text {
      @include ab.flex(column, flex-start, stretch);
      text-align: center;
    }

    .img {
      & img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
