@use '../../../assets/scss/abstracts' as ab;

.header {
  position: fixed;
  z-index: 999;
  width: 100%;

  background-color: ab.$color-gray-very-light;

  .header__nav {
    @include ab.flex(row, space-between, center);

    max-width: 1200px;
    margin: auto;
    padding: 1.6rem 2.4rem;
  }
}

@media (max-width: 38em) {
  .header {
    .header__nav {
      flex-wrap: wrap;
    }
  }
}
