@use '../../../../assets/scss/abstracts' as ab;

.auth {
  @include ab.flex(row, center, center);

  min-height: 100vh;
  padding: 3.6rem 0;
  background-color: ab.$color-main-very-light;

  .container {
    padding: 2.4rem;

    background-color: ab.$color-gray-very-light;

    border-radius: 8px;
  }

  .brand {
    color: ab.$color-main;
    text-align: center;
    padding: 2.4rem;
  }
}

@media (max-width: 34em) {
  .auth {
    background-color: ab.$color-gray-very-light;
  }
}

@media (max-width: 26em) {
  .auth {
    & button {
      width: 100%;
    }
  }
}
