@use '../../../../assets/scss/abstracts' as ab;
@use '../../../../assets/scss/layouts' as layouts;

.img {
  height: 4.8rem;

  & img {
    display: block;
    width: 4.8rem;
    height: 100%;
  }
}

@media (max-width: 46em) {
  .img {
    @include ab.flex(row, center);
  }
}
