@use '../../scss/abstracts' as ab;
@use '../../scss/layouts' as layout;

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 7.2rem;
  row-gap: 2.4rem;

  & + .grid {
    margin-top: 7.2rem;
  }

  &:nth-of-type(odd) {
    grid-template-areas: 'txt img';
  }

  &:nth-of-type(even) {
    grid-template-areas: 'img txt';
  }
}

.text {
  grid-area: txt;
}

.img {
  @include ab.flex(row, center, center);

  grid-area: img;

  height: 100%;
  min-height: 280px;

  background: linear-gradient(
    45deg,
    ab.$color-main-light,
    ab.$color-main-very-light
  );
  border-radius: 16px;

  & img {
    display: block;
    width: 60%;
    height: 60%;
  }
}

@media (max-width: 54em) {
  .grid {
    grid-template-columns: repeat(1, 1fr);

    &:nth-of-type(odd),
    &:nth-of-type(even) {
      grid-template-areas:
        'txt'
        'img';
    }
  }
}
