@use '../abstracts' as ab;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: ab.$fs-default;
}

ul {
  list-style: none;
}

a,
input,
button {
  display: inline-block;
  font-size: inherit;
  color: inherit;
}

a {
  text-decoration: none;
}
