@use '../../assets/scss/abstracts' as ab;

.hero {
  @include ab.flex(row, flex-start, center);
  min-height: 100vh;

  .container {
    @extend %wrapper;

    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3.6rem;

    padding: 8.6rem 3.2rem;
  }

  .text {
    align-self: center;
  }

  .heading {
    font-size: 5.2rem;
    color: ab.$color-gray-very-dark;
  }

  .paragraph {
    font-size: 2.2rem;
    padding: 3.2rem 0;
  }

  .actions {
    @include ab.flex(row, flex-start, center, 1.6rem);
  }
}

@media (max-width: 54em) {
  .hero {
    .container {
      grid-template-columns: 1fr;
      gap: 0;

      text-align: center;
    }

    .heading {
      font-size: 3.2rem;
      padding-top: 3.2rem;
    }

    .paragraph {
      font-size: 1.8rem;
      padding: 2.4rem 0;
    }

    .img {
      grid-row: 1;
      height: 240px;
    }

    .actions {
      justify-content: center;
    }
  }
}

@media (max-width: 26em) {
  .hero {
    .actions {
      flex-direction: column;
      align-items: stretch;
    }
  }
}
