@use '../../../assets/scss/abstracts' as ab;

.form {
  @include ab.flex(column, flex-start, stretch, 1.8rem);

  width: 280px;

  .form__notification {
    grid-column: 1/-1;

    font-size: 1.4rem;
    color: ab.$color-error;

    padding: 1.2rem 0;
  }
}

.action {
  padding: 1.8rem 0;
}
