@use '../../scss/abstracts' as ab;

.about {
  @extend %wrapper;

  .about__brand {
    color: ab.$color-main;
  }

  .about__heading {
    font-family: 'Fredoka One', cursive;
    font-weight: 400;
    font-size: 4.2rem;

    padding: 4.8rem 0;
  }

  .about__heading-sub {
    font-weight: 700;
    font-size: 3.2rem;
  }

  .about__number {
    font-weight: 700;
    font-size: 7.2rem;
    color: ab.$color-gray-light;
  }

  .about__paragraph {
    font-size: 2.8rem;
    padding: 2.8rem 0;
  }

  .about__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'txt img';
    column-gap: 6.4rem;

    &:nth-of-type(even) {
      grid-template-areas: 'img txt';
    }

    & + .about__grid {
      margin-top: 6.4rem;
    }
  }

  .about__text {
    grid-area: txt;
  }

  .about__img {
    @include ab.flex(row, center, center);

    grid-area: img;
    align-self: center;

    height: 100%;
    min-height: 280px;

    background-color: ab.$color-main-light;
    border-radius: 16px;

    & img {
      display: block;
      width: 60%;
      height: 60%;
    }
  }
}

@media (max-width: 54em) {
  .about {
    .about__grid,
    .about__grid:nth-of-type(even) {
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas:
        'txt'
        'img';
    }
  }
}
