@use '../../../../assets/scss/abstracts' as ab;

.header {
  position: fixed;
  width: 100%;
  z-index: 999;

  background-color: ab.$color-gray-very-light;
  box-shadow: 0 2px 6px ab.$color-gray-light;

  .nav {
    @extend %wrapper;
    @include ab.flex(row, space-between, center);
    flex-wrap: wrap;

    padding: 1.8rem 3.2rem;
  }

  .brand {
    font-family: 'Fredoka One', cursive;
    font-size: 2.8rem;
    font-weight: 400;

    color: ab.$color-main;
  }
}

.showNavbar {
  min-height: 100vh;
}
